<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonlee.spring.mapper.BoardMapper">

	<insert id="boardWrite"
		parameterType="com.wonlee.spring.form.BoardForm">
		INSERT INTO BOARD (userid, title, content, name,
		write_date)
		VALUES (#{userid}, #{title}, #{content}, #{name},
		CURRENT_TIMESTAMP)
	</insert>

	<select id="boardList"
		resultType="com.wonlee.spring.form.BoardForm">
		select seq, userid , title , content , name, view_cnt,
		DATE_FORMAT(write_date, '%Y-%m-%d') AS write_date from board order by
		seq DESC;
	</select>

	<select id="boardView"
		resultType="com.wonlee.spring.form.BoardForm">
		select * from board where seq = #{seq}
	</select>

	<delete id="boardDelete">
		delete from board
		where userid=#{userid} and seq=#{seq}
	</delete>


	<update id="boardViews" parameterType="int">
	update board set view_cnt = view_cnt +1 where seq = #{seq}
	</update>

</mapper>